:root{
    scroll-behavior: auto;
}
.alert-box {
    background-color: skyblue;
    padding: 20px;
    color: white;
    border-radius: 5px;
    display: none;
}

.list-group {
    display: none;
}

.show{
    display: block;
}

.close-modal{
    display: none;
}

.black-bg{
    width : 100%;
    height : 100%;
    position : fixed;
    background : rgba(0,0,0,0.5);
    z-index: 5;
    padding: 30px;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}

.white-bg{
    width: 400px;
    height: 320px;
    background-color: white;
    padding: 60px;
    border-radius: 10px;
}

.show-modal{
    visibility: visible;
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: 6;
}

.main-bg{
    background-color: rgb(176, 217, 233);
    padding: 100px 20px;
    border-radius: 5px;
}

.dark{
    background: black;
    color: white;
}

.slide-container{
    width: 300vw;
    /* margin-left: -100vw; */
    /* transform: translateX(-100vw); */
    transition: all 1s;
}

.slied-box{
    width: 100vw;
    float: left;
}

.slied-box img{
    width: 100%;

}

.navbar{
    position: fixed;
    width: 100vw;
    z-index: 5;
}

.navbar-brand{
    font-size: 30px;
    transition: all 0.5s;
}

.lorem{
    width: 200px;
    height: 100px;
    overflow-y: scroll;
}

.scroll{
    width: 0vw;
    height: 3px;
    background-color: black;
    position: relative;
    top: 8px;
    /* margin-bottom: -18px; */
}

ul.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
  }
  ul.list::after {
    content: '';
    display: block;
    clear: both;
  }
  .tab-button {
    display: block;
    padding: 10px 20px 10px 20px;
    float: left;
    margin-right: -1px;
    margin-bottom: -1px;
    color: grey;
    text-decoration: none;
    cursor: pointer;
  }
  .orange {
    border-top: 2px solid orange;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid white;
    border-left: 1px solid #ccc;
    color: black;
    margin-top: -2px;
  }
  .tab-content {
    display: none;
    padding: 10px;
  }
  .show {
    display: block;
  }

  .hideSelection{
    display: none;
  }

  .hidMore{
    display: none;
  }